//fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:200,600");

@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');


html, body {
    background-color: #fafafa;
    color: black;

    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding-top: 40px;

}


.navbar{
    background-color: #223843;
    box-shadow: 0 3px 3px -3px rgba(0,0,0,.2);
}

.nav-links {
    color: #fafafa;
}


.title {
    font-size: 84px;
}

.links > a {
    color: black;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

//welcome-page
.intro {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: rgba(255, 255, 255, 0.7);
}

.intro h2 {
    color: #FFFFFF;
}

.intro h2::after {
    content: '';
    width: 20%;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 1em auto 0;
}

@supports (display: grid) {
    .intro {
        display: grid;
        grid-template-columns: minmax(4em, 1fr) minmax(auto, 30em) minmax(4em, 1fr); }
}

@media(max-width: 576px){
    .card{
        width: 80%;
        flex-direction: column;
    }
}

.intro-middle {
    background: #223843;
    padding: 2.5em 5vw;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.intro-left img,
.intro-right img {
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  display: block;
}

.about-me {
    width: 90%;
    margin: 0 auto;
    max-width: 50em;
    margin-top: 5em;
    margin-bottom: 5em;

}

.about-me::after {
      content: '';
      display: block;
      clear: both;
}

.about-img {
    max-height: 25em;
    border-radius: 50%;
}
@media (min-width: 42em) {
      .about-img {
        float: left;
        margin-right: 1em; } }

.about-title {
    margin-bottom: .25em;
    color: #fafafa;
}

.about-subtitle {
    margin: .5em 0;
}

@supports (display: grid) {
    .about-me {
      display: grid;
      grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
      grid-column-gap: .5em; }

    .about-img {
      grid-column: port / img;
      grid-row: 1 / 2; }
      @media (min-width: 50em) {
        .about-img {
          grid-row: 1 / 4; } }

    .about-title {
      grid-column: name / port;
      grid-row: 1 / 2;
      -webkit-align-self: end;
      -ms-flex-item-align: end;
      align-self: end; }

    .about-subtitle,
    .about-text {
      grid-column: port / port; }

      @media (min-width: 50em) {
        .about-subtitle,
        .about-text {
          grid-column: image-end / port-end; } }
    .about-subtitle {
      grid-row: 2 / 3; }
    .about-text {
      grid-row: 3 / 4; }
}

.title-head{
    text-align: center;
}

.card{
    margin: 10px;
}

